.inventory {
  margin: 0;
  padding: 0;

  list-style: none;
}

.inventory__item {
  padding: 10px;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  position: relative;

  background-color: rgba(255, 254, 254, 0.356);
  box-shadow: 0 5px 10px -5px #000000;
  transition: all 0.2s linear;
}

.inventory__item:hover {
  background-color: rgba(255, 255, 255, 0.704);
}

.inventory__item p,
.inventory__item span {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.451);
  font-weight: 600;
  max-width: calc(100% - 80px);
}

.inventory__item span {
  color: brown;
}

.inventory__buttons {
  padding: 0;
  
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  gap: 5px;
  align-items: center;
}

.inventory__editButton,
.inventory__delButton {
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.inventory__form p {
  margin-bottom: 5px;
}

.inventory__form input {
  padding: 5px;
  margin-bottom: 10px;
}

.inventory__form button {
  padding: 10px;
}
