.company {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.company__header {
  margin-bottom: 20px;

  display: flex;
  align-items: center;
}

.company__header h2 {
  margin: 0;
}

.company__placesWrapper,
.company__inventoryWrapper {
  padding: 20px;
  background-color: rgba(187, 127, 255, 0.074);
}

.place__addButton {
  padding: 10px;
  margin-left: auto;

  cursor: pointer;
  border-radius: 10px;
  border: none;

  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 20px -15px #000000 inset;
}

.place__addButton:hover {
  box-shadow: 0 0 25px -15px #000000 inset;
}

.place__addFormWrapper {
  margin-left: auto;
}

.place__addFormWrapper form {
  margin-left: auto;
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.place__addFormWrapper input {
  padding: 5px;
}

.place__addFormWrapper button {
  padding: 5px;

  grid-column: -1/-2;
}
