.company {
  min-height: 100vh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.company__inventoryHeader {
  margin-bottom: 20px;

  display: grid;
  align-items: start;
  grid-template-columns: 1fr auto;
  gap: 20px;
}

.company__inventoryHeader h2 {
  margin: 0;
}

.company__placesWrapper,
.company__inventoryWrapper {
  padding: 20px;
  background: linear-gradient(190deg, rgba(28, 1, 134, 0.1) 0%, rgba(250,250,250,0.1) 100%);
}

.place__addButton {
  padding: 10px;
  margin-left: auto;

  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.place__addFormWrapper {
  margin-left: auto;
}

.place__addFormWrapper form {
  margin-left: auto;
  
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.place__addFormWrapper input {
  padding: 5px;
}

.place__addFormWrapper button {
  padding: 5px;

  cursor: pointer;
}
