.places {
  margin: 0;
  padding: 10px;
  
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  list-style: none;
}

.places__item {
  margin-bottom: 5px;
  padding: 10px;

  background-color: rgba(255, 254, 254, 0.356);
  box-shadow: 0px 10px 22px -17px #000000;
  cursor: pointer;
  transition: all 0.2s linear;
}

.places__item:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.places__details {
  padding: 10px;
}

.places__details[open] > .places__summary {
  background-color: rgba(70, 49, 228, 0.118);
}

.places__details[open] > summary::after {
  transform: rotate(-90deg);
}

.places__summary {
  padding: 10px;
  
  width: 100%;

  display: flex;
  align-items: center;
  
  background-color: rgba(0, 42, 255, 0.075);
  
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.places__summary::after {
  position: absolute;
  content: "←";
  left: calc(100% - 30px);
  
  font-size: 20px;
  
  transition: all 0.3s ease-in-out;
}

.places__placeSummary,
.places__placeInner {
  margin: 0;
  width: 100%;

  display: flex;
  align-items: center;
  gap: 10px;
}

.places__placeSummary p, /* place name */
.places__placeInner p {
  margin: 0;
}

.places__countBadge {
  padding: 5px;
  min-width: 22px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
  font-size: 12px;
  line-height: 1;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  
  border-radius: 50%;
}

.places__countBadgeGreen {
  background-color: rgba(110, 184, 0, 0.8);
}

.places__countBadgeRed {
  background-color: rgba(184, 0, 0, 0.8);
}

.places__totalCountBadge {
  margin-left: auto !important;
  margin-right: 30px !important;

  display: flex;
  gap: 5px;
}

.places__totalTitle {
  padding: 0;
  
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 16px;
  border-radius: 0%;
}
